body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  background-color: #444;
  color: white;
  padding: 10px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  background: #eef;
}

.tachado {
  text-decoration: line-through;
  color: gray;
  background: #ddd;
}
